<h1>
  <% if request.url.include? 'suggest' %>
  Suggest A Charity
  <% else %>
  Share Your Stories
  <% end %>
</h1>
<p>
  "Never doubt that a small group of thoughtful, committed citizens can change the world. Indeed, it is the only thing that ever has." - Margaret Mead
</p>
<%= form_tag url_for(send_message_path), :method => 'post', :id => 'message-form' do %>
  <%= text_field_tag :name, (params[:name].blank? ? @profile.name : params[:name].decode_from_urls), :placeholder => 'Enter your name here...', :id => 'name' %>
  <%= text_field_tag :email, (params[:email].blank? ? current_user.email : params[:email].decode_from_urls), :placeholder => '...type your e-mail here...', :id => 'email' %>
  <%= text_area_tag :body, params[:body].decode_from_urls, :placeholder => '...and then share a message with us!', :id => 'message' %>
  <%= hidden_field_tag :is_charity_suggestion, request.url.include?('suggest') %> 
  <%= submit_tag 'Share', :id => 'submit' %>
<% end %>