<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <div id="fb-container"> 
    <div id="fb"></div>
    <%= link_to "Sign In with Facebook", user_omniauth_authorize_path(:facebook), :id => 'fb-login' %>
  </div>
  <%= link_to "Twitter", user_omniauth_authorize_path(:twitter) %>
<% end -%>

<style>
#fb {
	background-image: url("https://fbstatic-a.akamaihd.net/rsrc.php/v2/y6/x/S-DbSHszr4D.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-position: 0 -132px;
    height: 22px;
    width: 22px;
    float: left;
}

#fb-login {
	background-color: #5F78AB;
    color: #FFFFFF;
    border-bottom: 1px solid #1A356E;
    border-right: 1px solid #29447E;
    border-top: 1px solid #29447E;
    display: inline-block;
    height: 20px;
    font-size: 16px;
    float: left;
}

#fb-container {
	height: 22px;
}
</style>