<%= form_for @party, :url => { :action => params[:action] } do |f| %>
	<div class="left"> 
		<%= label_tag :party_name %>
		<%= f.text_field :name %>
		<%= label_tag :hosted_by %>
		<%= f.text_field :host %>
		<%= label_tag :location %>
		<%= f.text_field :location %>
		<%= label_tag :address %>
		<%= f.text_field :address %>
		<%= label_tag :city %>
		<%= f.text_field :city %>
		<%= label_tag :zip %>
		<%= f.text_field :zip %>
		<%= label_tag :phone_number %>
		<%= f.phone_field :phone_number, :maxlength => 10 %>
		<%= label_tag :message_to_guests %>
		<%= f.text_area :message %>
	</div>
	<div class="right">
		<h3>Date</h3>
		<%= f.date_select :date, :start_year => Time.new.year %>
		<h3>From</h3>
		<%= f.time_select :time, { :ampm => true, :minute_step => 15 } %> to <%= f.time_select :end_time, { :ampm => true, :minute_step => 15 } %>
		<%= f.select :party_type, @party_types %>
		<%= f.select :charity_id, @charities %>
		<%= link_to 'Learn About the Charities', choose_path, :target => '_blank', :id => 'charities-link' %>
		<h3>Donation Goal</h3>
		$<%= f.number_field :goal, :placeholder => '0.00' %>
	</div>
	<%= label_tag :attending_label, 'Will you be attending?', { :style => 'display: inline; line-height: 4em;' } %>
	<%= check_box_tag :attending, true, !Guest.find_by_email_and_party_id(current_user.email, params[:id]).blank? %>
	<%= f.submit 'Continue', :class => 'button' %>
<% end %>