<%= form_for @party, :url => { :action => params[:action] } do |f| %>
	<div class="left"> 
		<%= f.text_field :name, :placeholder => 'Event Name' %>
		<%= f.text_field :host, :placeholder => 'Hosted By' %>
		<%= f.text_field :location, :placeholder => 'Location' %>
		<%= f.text_field :address, :placeholder => 'Address' %>
		<%= f.text_field :city, :placeholder => 'City' %>
		<%= f.text_field :zip, :placeholder => 'Zip' %>
		<%= f.phone_field :phone_number, :placeholder => 'Phone Number', :maxlength => 10 %>
		<%= f.text_area :message, :placeholder => 'Message to Guests' %>
	</div>
	<div class="right">
		<h3>Date</h3>
		<%= f.date_select :date, :start_year => Time.new.year %>
		<h3>From</h3>
		<%= f.time_select :time, :ampm => true %> to <%= f.time_select :end_time, :ampm => true %>
		<%= f.select :party_type, @party_types %>
		<%= f.select :charity_id, @charities %>
		<%= link_to 'Learn About the Charities', choose_path, :target => '_blank', :id => 'charities-link' %>
		<h3>Donation Goal</h3>
		$<%= f.number_field :goal, :placeholder => '0.00' %>
	</div>
	<%= f.submit 'Continue', :class => 'button' %>
<% end %>