<header class="banner clearfix">
	<img class="profile" src="http://24.media.tumblr.com/tumblr_me3mb8GevE1qgxwpjo1_1280.jpg">
</header>
<div class="party-profile">
	<div class="party-header">
		<small>A party for</small>
		<h2><%= @party.name %> <%= link_to '', edit_party_path(@party.id), :class => 'icon-forward', :title => 'Edit Party' if @is_party_owner %></h2>
	</div>
	<div class="party-info">
		<dl>
			<dt class="icon-user"></dt>
			<dd>
				Hosted by <%= @party.host %>
				<%= @party.phone_number.blank? ? '' : raw("</br>#{@party.phone_number}") %>
			</dd>
			<dt class="icon-calendar"></dt>
			<dd><%= @party.date.strftime '%m/%e/%Y' %></dd>
			<dt class="icon-clock"></dt>
			<dd><%= "#{@party.time.strftime '%l:%M %p'} to #{@party.end_time.strftime '%l:%M %p'}" %></dd>
			<dt class="icon-location"></dt>
			<dd>
				<%= @party.location.blank? ? 'Undisclosed' : @party.location %>
				<%= @party.address.blank? ? '' : raw("</br>#{@party.address}") %>
				<%= @party.zip.blank? ? '' : raw("</br>#{@party.zip}") %>
			</dd>
		</dl>

		<div class="progress">
			<img src="/assets/piggy-bank.png" class="bank">
			<div class="fill" style="height: <%= @total_donation/@party.goal*100 %>%;"></div>
			<small>We've raised</small>
			<p id="donated"><span class="overlay"><%= number_to_currency @total_donation %></span></p>
			<small class="sub">Help us reach <span class="highlight overlay"><%= number_to_currency @party.goal %></span></small>
		</div>	
	</div>

	<% unless @party.annoucements.empty? %>
	<h2>Announcements</h2>
	<% @party.annoucements.each do |annoucement| %>
	<section class="party announcement">
	<!-- 	<p>No recent announcement.</p> -->
		<p><% announcement.body %></p>
	</section>
	<% end %>
	<% end %>
	
	<section class="party guests">
		<h2>Guests</h2>
		<%= render 'guest/list' %>
		<% if @is_party_owner %>
		<div class="buttons">
			<%= link_to send_party_invites_path(@party.id) do %>
				<div class="button left" id="email-guests">
					Email Guests
				</div>
			<% end %>
			<div class="button right" id="invite-guests">
				<%= link_to 'Invite Guests', add_guest_path(@party.id) %>
			</div>
		</div>
		<div id="add-guest-form">
			<form>
				<%= label_tag 'Guest\'s Name' %>
				<%= text_field_tag :name, '' %>
				<%= label_tag 'Guest\'s Email' %>
				<%= text_field_tag :email, '' %>
				<input id="guest-add" class="button right" type="submit" value="Add">
			</form>
		</div>
		<% end %>
	</section>
	
	<section class="party comments">
		<h2>Comments</h2>
		<% @party.comments.each do |comment| %>
		<div class="content-wrapper">
			<div class="comment">
				<div class="comment-header">
					<small><%= get_time_difference comment.date.to_time %></small>
					<span><%= comment.name %></span>
				</div>
				<p><%= comment.body %><% if @is_party_owner %><a class="delete" href="#" title="Delete comment" alt="<%= comment.id %>"> X</a><% end %></p>
			</div>
		</div>
		<% end %>
		<% if @party.comments.size == 0 %>
		<h3>No comments have been added yet...</h3>
		<% end %>
		<form>
			<textarea class="comment-box" placeholder="Leave a comment!"></textarea>
			<input class="button right" type="submit" value="Add" id="comment-add">
		</form>
	</section>

	<% unless session[:guest].nil? %>
	<% guest = session[:guest] %>
	<%= form_for guest, :url => url_for(update_guest_path(guest.id, params[:id])) do |f| %>
	<section class="party guests">
		<h2>Your RSVP and Donation</h2>
		<div class="content-wrapper">
			<table class="guest-list">
				<tr>
					<td class="rsvp">RSVP - <%= f.select :rsvp, [['Yes!', true], ['No!', false]], :selected => (guest.rsvp.blank? ? false : true) %></td>
					<td class="donation">Donation - $<%= f.number_field :donation %></td>
					<td class="anonymous">Anonymous Donation? - <%= f.select :anonymous_donation, [['Yes', true], ['No', false]], :selected => (guest.anonymous_donation.blank? ? false : true) %></td>
				</tr>
			</table>
		</div>
	</section>
	<%= f.submit 'Update', :class => 'button right' %>
	<% end %>
	<% end %>
</div>

<script type="text/javascript">
$(function() {
	$('.comments .delete').css('cursor', 'pointer').on('click', function(e) {
		$.post('/comment/<%= params[:id] %>/' + $(this).attr('alt')).done(function(data) {
			if (data === 'true')
				$(e.target).closest('.content-wrapper').remove();
		});
	});

	$('.comments form').on('submit', function(e) {
		e.preventDefault();

		$.post('/comment/<%= params[:id] %>', { body: $(this).children('.comment-box').val() }).done(function(data) {
			$(data).filter('.content-wrapper').insertAfter($('.party.comments .content-wrapper')[0] ? $('.party.comments .content-wrapper').last() : $('.party.comments h2'));
		});

		$(this).children('.comment-box').val('');
	});

	$('#guest-add').on('click', function(e) {
		e.preventDefault();
		var name = $('#name').val();
		var email = $('#email').val();

		$('#email, #name').val('');

		$.ajax({
			method: 'post',
			url: '/a/guest/party/<%= params[:id] %>',
			data: { name: name, email: email },
			success: function(data) {
				$('#guest-list').html($(data).find('#guest-list').html());
			}
		})
	});
});
</script>