<h1>
  Learn
</h1>
<p>
  Party for Humanity sprang out of a 10-year-old's imagination. Back in 2000, fifth-grader Ben Loffredo was planning his birthday party. He wanted to do something a little different. So he asked his friends if they would donate money to the Heifer Foundation, a group that sends farm animals to poor families in the United States and abroad. Each kid donated about a dollar, some more, some less. Together, they raised enough money to give one family a goat, equal to a ton of milk a year!
  
  Soon other kids wanted to celebrate by making a difference. Ben suggested we start a website to make it easy to "party for humanity."
  
  Over the next six years, web designers, graphic artists, lawyers, bankers, and others contributed their time and talent for free to help establish a non-profit organization built on this idea. And that's how Party for Humanity started.
  
  "Unshared joy is an unlighted candle." - Spanish proverb 
</p>
<a href="<%= who_we_are_url %>">
  Who We Are
</a><br />
<a href="<%= board_url %>">
  Board
</a><br />
<a href="<%= donate_url %>">
  Donate
</a><br />
<a href="<%= directors_letter_url %>">
  Executive Director's Letter
</a><br />
<a href="<%= financial_statements_url %>">
  Financial Statements
</a>