<header class="banner">
	<img class="profile" src="http://24.media.tumblr.com/tumblr_me3mb8GevE1qgxwpjo1_1280.jpg">
</header>
<div class="summary">
	<div class="party-info">
		<small>A party for</small>
		<h2>Love Without Boundaries</h2>
<!-- 		<h2>TWLOHA</h2> -->
<!-- 		<h2>National Autism Association</h2> -->
		
		<div class="dates">
			<div>Apr</div>
			<div>27</div>
			<div>2013</div>
			<div>Sat</div>
		</div>

		<dl>
<!--
			<dt class="icon-calendar"></dt>
			<dd>Saturday, November 27, 2015</dd>
-->
			<dt class="icon-time"></dt>
			<dd>12pm to 4pm</dd>
			<dt class="icon-location"></dt>
			<dd>3601 Sexton Woods Dr<br>
			Atlanta, GA 30341-2053</dd>
		</dl>

	</div>
</div>

<a href="<%= who_we_are_url %>">
  Who We Are
</a><br />
<a href="<%= board_url %>">
  Board
</a><br />
<a href="<%= donate_url %>">
  Donate
</a><br />
<a href="<%= directors_letter_url %>">
  Executive Director's Letter
</a><br />
<a href="<%= financial_statements_url %>">
  Financial Statements
</a>