<header class="banner">
	<img class="profile" src="http://24.media.tumblr.com/tumblr_me3mb8GevE1qgxwpjo1_1280.jpg">
</header>
<div class="summary">
	<div class="party-info">
		<small>A party for</small>
<!-- 		<h2>Love Without Boundaries</h2> -->
<!-- 		<h2>TWLOHA</h2> -->
		<h2>National Autism Association <a class="icon-forward" href="#"></a></h2>
		
<!--
		<div class="dates">
			<div class="month">Apr</div>
			<div class="date">27</div>
			<div class="day">Saturday</div>
		</div>
-->

		<dl>
			<dt class="icon-user"></dt>
			<dd>Hosted by FirstName LastName</dd>
			<dt class="icon-calendar"></dt>
			<dd>Saturday, November 27, 2015</dd>
			<dt class="icon-clock"></dt>
			<dd>12pm to 4pm</dd>
			<dt class="icon-location"></dt>
			<dd>3601 Peachtree Industrial Blvd<br>
			Atlanta, GA 30341-2053</dd>
		</dl>

	</div>
	<div class="progress">
		<img src="/assets/piggy-bank.png" class="bank">
		<div class="fill"></div>
		<small>We've raised</small>
		<p id="donated">$204,398</p>
		<small class="sub">Help us reach <span class="highlight">$500,000</span></small>
	</div>
</div>

<a href="<%= who_we_are_url %>">
  Who We Are
</a><br />
<a href="<%= board_url %>">
  Board
</a><br />
<a href="<%= donate_url %>">
  Donate
</a><br />
<a href="<%= directors_letter_url %>">
  Executive Director's Letter
</a><br />
<a href="<%= financial_statements_url %>">
  Financial Statements
</a>