<div class="main wrapper clearfix">
  <h1>
    Privacy and Terms & Conditions
  </h1>
  <p>
    Party for Humanity, Inc. ("PFH") is committed to protecting your privacy. This Privacy Policy will advise you about how we protect your personal information and about what choices you have concerning the use of that information. Please read this policy carefully.
  </p>
  <h3>
    The Information We Collect and How We Use It
  </h3>
  <p>  
    We collect information on our site in order to make it possible for you to access all the features on our site and to enhance your overall experience on our site. When you visit our site, you will be invited to provide personal information in order to use our services. This information may include your name, mailing address, telephone number and e-mail address. You may also be asked to provide the name of the party honoree, his or her age, and the names, addresses, telephone numbers, and e-mail addresses of party guests. You will also be invited to provide the amount of contributions by party guests to each charity.
  </p>
  <h3>  
    Information Shared With Third Parties
  </h3>
  <p>  
    We may use your contact data to send you information about PFH. You may always opt out of receiving future mailings by clicking the "Unsubscribe" link that appears at the bottom of any email we send to you, or by contacting us at the address listed below.
  </p>
  <p>  
    In addition, we may employ outside agents, meaning other companies or individuals to perform functions on our behalf, such as sending postal mail and e-mail, and analyzing data. These PFH agents have access to personal information needed to perform their functions, but may not use it for other purposes. Except as provided in this Privacy Policy, we keep all of your personal information private and will not share it with any third party, unless you have authorized us to or we are legally required to do so. PFH may also release personal information when we believe, in good faith, that such release is reasonably necessary to enforce or apply the provisions of our Terms of Use or to protect the rights, property or safety of PFH, our users, or others.
  </p>
  <p>  
    We retain the right to transfer your personal information to a successor in interest pursuant to a change of control of PFH or a sale of all or substantially all of PFH's assets.
  </p>
  <h3>  
    Security of your information
  </h3>
  <p>  
    Our site has security measures in place intended to protect against the loss, misuse, and alteration of the information under our control. PFH uses industry standard encryption to help ensure that all the personal information you provide is encrypted and remains private. This helps to maintain the confidentiality of your information. We strive to protect your personal information, however, PFH cannot ensure or warrant the security of any information you transmit to us.
  </p>
  <h3>  
    Links to Third Party Sites
  </h3>
  <p>  
    To provide you with access to related sites, our site contains links to third party websites. By linking to such sites, you agree to review and agree to such third party website's terms of use and privacy policies before using such website. PFH is not responsible for the privacy practices or the content of any of such third party websites. PFH is not affiliated with, and does not endorse or sponsor, any such third party website or any product or service of any such third party.
  </p>
  <h3>  
    Demographic Information
  </h3>
  <p>  
    Demographic and profile data may be collected at our site, including without limitation, the number of parties registered on the site, the number of guests, the number and kinds of charities, and the amount of contributions. PFH may post such information in the aggregate, without the disclosure of personally identifying information, on the website or provide such information to third parties, including potential donors.
  </p>
  <h3>  
    Cookies
  </h3>
  <p>  
    We use cookies to improve your experience at PFH. "Cookies" are small pieces of information that a Web site transfers to your computer's hard drive for record-keeping purposes. The cookies we use in and of themselves do not personally identify users, although they do identify a user's computer as well as the first name of the person logging in. We use cookies to remember information users give us so they don't have to reenter it each time they visit our site. You are always free to decline our cookies if your browser permits. Even without a cookie, you will still be able to use most of the features on our site.
  </p>
  <h3>  
    Children Under the Age of 13
  </h3>
  <p>  
    PFH does not knowingly collect any personally identifiable information from children under 13 years of age.
  </p>
  <h3>  
    Your Acceptance of These Terms
  </h3>
  <p>  
    By visiting the PFH site, you consent to the terms of this Privacy Policy and to the collection and use of this information by PFH. We will always fully disclose our privacy policies, and we will promptly post any changes to our policy on this page.
  </p>
  <p>  
    You agree that PFH may retain and use your personal information as described in this policy until you inform us that you do not agree with this Privacy Policy and agree that you will not use the PFH site for a reasonable time thereafter. By using this site after we post any changes to this Privacy Policy, you agree to accept those changes.
  </p>
  <p>  
    If you choose to visit PFH, your visit and any dispute over privacy is subject to this Privacy Policy and our Terms of Use.
  </p>
  <h3>  
    Contacting the Website
  </h3>
  <p>  
    If you have any questions about this privacy statement, the practices of this site, or your interactions with this Website, you can contact:
  </p>
  <p>  
    Party for Humanity, Inc.
    info@partyforhumanity.org 
  </p>
  <a href="<%= who_we_are_url %>">
    Who We Are
  </a><br />
  <a href="<%= board_url %>">
    Board
  </a><br />
  <a href="<%= donate_url %>">
    Donate
  </a><br />
  <a href="<%= directors_letter_url %>">
    Executive Director's Letter
  </a><br />
  <a href="<%= financial_statements_url %>">
    Financial Statements
  </a>
</div>