<div class="header-container">
  <header class="wrapper clearfix">
    <h1 class="title"><a href="<%= root_url %>">
    	<img class="thumb" src="<%=asset_path "pfh.png"%>">
      <span>Party for Humanity</span>
      	<img class="logo" src="<%=asset_path "pfh-logo.png"%>"></a>
    </h1>
    <nav>
      <ul>
        <li>
				  <a id="learn" href="<%= learn_url %>">
            Learn
					  <span>
              about us
            </span>
						<div class="nav-icon">
            </div>
					</a>
        </li>
        <li>
				  <a id="choose" href="<%= choose_url %>">
            Choose
						<span>
              a charity
            </span>
						<div class="nav-icon">
            </div>
					</a>
        </li>
        <li>
				  <a id="organize" href="<%= user_signed_in? ? my_account_url : organize_url %>">
            <%= user_signed_in? ? 'Manage' : 'Organize' %>
				    <span>
              <%= user_signed_in? ? 'your parties' : 'a party' %>
            </span>
				    <div class="nav-icon">
            </div>
				  </a>
        </li>
        <li>
			    <a id="share" href="<%= share_url %>">
            Share
					  <span>
              your story
            </span>
					  <div class="nav-icon">
            </div>
				  </a>
        </li>
      </ul>
    </nav>
  </header>
</div>